.template__intro {
  height: 60vh;
  &:before {
    height: inherit;
  }
}

.template-title {
  padding-top: 15vh;
}

.template__subtitle {
  text-align: left;
}

.template__text {
  padding-top: 10px;
}

@media (min-width: 576px) {

}

@media (min-width: 992px) {
  .template__intro {
    height: 50vh;
  }

  .template-title {
    padding-top: 18vh;
  }

}