.intro-template {
  height: 60vh;
  &:before {
    height: inherit;
  }
}

.template__wrapper {
  padding-top: 45px;
}

.template-title {
  padding-top: 15vh;
}

@media (min-width: 576px) {
  .template__wrapper {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .intro-template {
    height: 50vh;
  }

  .template-title {
    padding-top: 18vh;
  }

  .template__wrapper {
    padding-top: 80px;
  }
}