.template__intro {
  height: 35vh;
  z-index: - 1;
  &:before {
    height: inherit;
  }
}

.template__wrapper {
    padding: 0 0 20px;
    position: relative;
    z-index: 1;
}

.template__content {
  padding: 20px 0;
}

.template-title {
  padding-top: 15vh;
}

.template__subtitle {
  text-align: left;
}

.template__text {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .template__content {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .template__intro {
    height: 45vh;
  }


  .template-title {
    padding-top: 16vh;
  }

}