@import "../vars";

.blog__content {
  padding: 20px 0;
}

.blog__single-post {
  margin-bottom: 35px;
}

.single-post {
  display: flex;
  flex-direction: column;
}

.single-post__info {
  display: flex;
  flex-direction: column;
}

.single-post__image{
  margin: 0 auto;
}

.single-post__title {
  font-size: 20px;
  color: $middle-grey;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding-top: 3px;
}

.single-post__text {
  padding: 7px 0;
}

.single-post__button {
  display: inline-block;
  color: $green;
  background-color: $white;
  border: 2px solid $green;
  margin-top: auto;
  align-self: flex-start;
  padding: .5rem 3rem .7rem;
  transition: all var(--hover-transition);
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $green;
    color: $white;
    transition: all var(--hover-transition);
  }
}

.blog__button-wrapper {
  display: flex;
  padding-top: 15px;
}

.blog__button {
  display: inline-block;
  padding: .5rem 3rem .7rem;
  margin: 0 auto;
}

@media (min-width: 786px) {
  .single-post__button {
    font-size: 18px;
  }
}


@media (min-width: 992px) {
  .single-post {
    flex-direction: row;
  }

  .single-post__info {
    margin-left: 15px;
  }

  .single-post__title {
    padding: 0;
    margin-top: -6px;
    font-size: 24px;
  }
}

