@import "../vars";

.main-header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__nav {
  padding: 16px 0;
}

.main-header,
.header__wrapper {
  background-color: transparent;
}

.main-header__logo {
  padding: 16px 0;
}

.header--fixed {
  position: fixed;
  -webkit-animation: .7s ease-in-out 0s forwards 1 fadeInDown;
  animation: .7s ease-in-out 0s forwards 1 fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.main-header__menu {
  position: absolute;
  width: 100%;
  top: -450%;
  left: 0;
  transition: all 0.5s ease 0s;
  z-index: -1;
  background-color: $white;
}

.menu--opened {
  top: 90%;
  transition: all 0.5s ease 0s;
}

.menu__list {
  background-color: $white;
}

.menu__item:hover .menu__link,
.menu__item:focus .menu__link,
.menu__item:active .menu__link{
  color: $green;
  transition: var(--hover-transition);
}

.menu__link {
  display: inline-block;
  width: 100%;
  color: $black;
  padding: 25px 0;
  font-size: 18px;
  font-weight: 500;
  transition: var(--hover-transition);
}

.header__toggler {
  position: relative;
  width: 35px;
  height: 3px;
  background-color: $white;
  transition: background-color 1s;
  border: none;
  outline: none;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    left: 0;
  }
  &::before {
    top: 9px;
  }
  &::after {
    top: -9px;
  }
}

.toggler--active {
  background-color: transparent;
  transition: background-color 0.1s;
  &::before,
  &::after {
    background-color: $black;
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: 768px) {
  .main-header__menu {
    position: static;
    width: initial;
    background-color: transparent;
    z-index: 0;
  }

  .menu__list {
    display: flex;
    background-color: transparent;
  }

  .menu__item {
    position: relative;
    margin-left: 55px;
    padding: 0;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 2px solid $green;
      transition: 0.2s;
      transform: scaleX(0);
    }
  }

  .menu__item:hover::before {
    cursor: pointer;
    transition: var(--hover-transition);
    transform: scale(1);
  }

  .menu__item--active::before  {
    cursor: pointer;
    transition: var(--hover-transition);
    transform: scale(1);
  }

  .menu__link {
    font-size:  19px;
    text-transform: uppercase;
    color: #fff;
    transition: var(--hover-transition);
    padding: 10px 0 5px;
  }

  .header__toggler {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu__link {
    font-size: 20px;
    padding: 15px 0 5px;
  }
}