.intro {
  position: relative;
  height: 100vh;
  background-image: url(./assets/intro/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 0;
  z-index: 1;
}

.intro::before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.intro__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3em;
}

.intro__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: .5px;

}

.intro__subtitle--autoText {
  display: inline;
  min-height: 28px; //AutoTyping
}

.dash {
  display: inline;
  color: $green;
  font-size: 18px;
  font-weight: 900;
  animation: moveX 1s infinite linear;
}

.intro__title,
.intro__subtitle {
  color: $white;
}

.intro__button {
  margin-top: 20px;
}

.intro__socials {
  display: none
}

@media (max-height: 500px) {
  .intro__wrapper {
    padding-top: 180px;
  }

  .intro__socials {
    display: flex;
    flex-direction: row;
    &:before,
    &:after {
      display: none;
    }
  }

  .intro__icon {
    padding: 0 5px;
  }
}

@media (min-width: 576px) {
  .intro__socials {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 2px;
      height: 30px;
      background-color: $icon-circle;
    }
    &:before {
      top: -7%;
      left: 47%;
    }
    &:after {
      bottom: -7%;
      left: 47%;
    }
  }

  .intro__icon {
    padding: 15px 0;
  }

  .intro__title {
    font-size: 28px;
  }

  .intro__subtitle {
    font-size: 20px;
  }

  .dash {
    font-size: 20px;
  }

}


@media (min-width: 992px) {
  .intro__title {
    font-size: 30px;
  }

  .intro__wrapper {
    padding-top: 200px;
  }

}

@media (min-width: 1200px) {
  .intro__title {
    font-size: 32px;
  }

  .intro__subtitle {
    font-size: 22px;
  }

  .dash {
    font-size: 22px;
  }
}



