.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $icon-circle;
  z-index: 100;
}

.preloader__row {
  display: block;
  width: 100px;
  height: 100px;
  margin: 33vh auto
}

.preloader__row:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 6px solid #259000;
  border-color: #259000 transparent #259000 transparent;
  animation: Spin 1.2s linear infinite
}

@keyframes Spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
