.projects {
  background-color: $grey;
  position: relative;
}

.main__projects {
  //margin-top: 30px;
  //padding: 70px 0;
}

.projects__brushstrokes--top {
  transform: rotate(180deg) translateY(3px);
}


.projects__title {
  color: $white;
}

.projects__thumbnail {
  margin: 30px auto 0;
}

.thumbnail {
  max-width: 328px;
}

.thumbnail__title {
  color: $white;
}

.thumbnail__content {
  position: relative;
  width: 90%;
  margin: 20px auto;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.6);
  &:hover {
    cursor: pointer;
  }
}

.thumbnail__image {
  margin: 0 auto;
}

.thumbnail__overlay {
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  background-color: transparent;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: $black;
    opacity: .8;
    transition: var(--hover-transition);
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    bottom: 0;
    right: 0;
    transition: var(--hover-transition);
  }
}

.thumbnail__content:hover .thumbnail__overlay:before,
.thumbnail__content:hover .thumbnail__overlay:after {
  width: 100%;
  transition: all var(--hover-transition);
}

.thumbnail__item {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  color: #fff;
  &--top {
    top: 20%;
  }
  &--bottom {
    top: 70%;
  }
}

.thumbnail__link {
  color: $white;
  padding: 30px 0;
  &:hover {
    transition: all var(--hover-transition);
    color: $green-links;
  }
}

.git-href {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    top: 31px;
    left: -33px;
    background: url(./assets/about/github.svg);
    width: 25px;
    height: 25px;
  }
}

.thumbnail__content:hover .thumbnail__item {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all var(--hover-transition);
}


.fromTopToBottom {
  opacity: 0;
  transition: all .6s;
  transform: translateY(-45px);
}

.fromBottomToTop {
  opacity: 0;
  transition: all .7s;
  transform: translateY(45px);
}

@media(min-width: 400px) {
  .projects__brushstrokes {
    height: 3%;
  }
}

@media (min-width: 992px) {
  .projects__title {
    padding-top: 0;
  }

  .projects__content {
    display: flex;
    flex-wrap: wrap;
  }

  .projects__thumbnail {
    padding: 0 .5rem;
  }
}

