.about {

}

.about__bg-brushstrokes {
  top: -60px;
  left: -4px;
}

.main__about {
  margin-top: 20px;
}

.about__title {

}

.about__image {
  margin-top: 15px;
}

.personal__title {
  text-align: center;
}

.personal__subtitle {
  margin-top: 10px;
}

.about__button {
  margin-top: 15px;
}

.about {
  position: relative;
}

.rotate180 {
  transform: rotate(180deg);
}


