.about {

}

.main__about {
  margin-top: 30px;
}

.about__title {
  text-align: center;
}

.about__image {
  margin-top: 15px;
}

.personal__title {
  text-align: center;
}

.personal__subtitle {
  margin-top: 10px;
}

.about__button {
  margin-top: 15px;
}

.about {
  position: relative;
}

.about__bg-brushstrokes {
  top: -73px;
  left: -4px;
}

.rotate180 {
  transform: rotate(180deg);
}


