.about {
  position: relative;
  z-index: 1;
}

.about__brushstrokes {
  margin-top: -6%;
}

.main__about {
  padding-bottom: 40px;
}

.about__title {
  padding-top: 20px;
  margin-bottom: 20px;
}

.about__image {
  margin: 0 auto;
  max-width: 80%;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
}

.about__description {
  margin-top: 20px;
}

.description__text {
  margin-bottom: 10px;

  span {
    font-weight: 700;
  }
}

.description__link {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-style: normal;
  transition: color var(--hover-transition);

  &:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }

  &:hover {
    color: $green;
    transition: color var(--hover-transition);
  }
}

.email-link {
  &:before {
    background: url(./components/about/email.svg) no-repeat;
  }
}

.telegram-link {
  &:before {
    background: url(./components/about/telegram.svg) no-repeat;
  }
}

.github-link {
  &:before {
    background: url(./components/about/github.svg) no-repeat;
  }
}

.website-link {
  &:before {
    background: url(./components/about/website.svg) no-repeat;
  }
}


.about__button {
  margin-top: auto;
  align-self: flex-start;
}

.about__info {
  display: flex;
  flex-direction: column;
}


@media (min-width: 567px) {
  .about__content {
    padding: 0 1rem;
  }
}


@media (min-width: 992px) {
  .about__title {
    padding-top: 0;
  }

  .about .container {
    max-width: 830px;
  }

  .about__content {
    display: flex;
  }

  .about__image {
    max-width: 40%;
  }

  .about__info {
    margin-left: 20px;
  }

  .about__description {
    margin-top: 0;
  }

  .project-image {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .about .container {
    max-width: 900px;
  }
}



