@import "../../vars";

.header {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  background-color: $white;
}

.header__logo {
  padding: .5rem 0;
  color: $black;
  font-weight: 700;
  font-size: 20px;
}

.navbar {
  display: block;
  position: absolute;
  width: 100%;
  top: -300%;
  left: 0;
  transition: all 0.5s ease 0s;
  z-index: -1;
  background: $white;
  //padding: 0 5%;
  //margin: auto;
  //right: 0;
  //bottom: 0;
}

.container-2 {
    max-width: 540px;
}

.navbar--opened {
  top: 90%;
  transition: all 0.5s ease 0s;
}

.navbar__link {
  display: inline-block;
  color: $black;
  padding: 20px 20px 20px 0;
  font-weight: 500;
  width: 100%;
  transition: var(--hover-transition);
}

.navbar__list {
  background-color: $white;
}

.header__toggler {
  position: relative;
  width: 35px;
  height: 3px;
  background-color: $black;
  transition: background-color 1s;
  border: none;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: $black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    left: 0;
  }
  &::before {
    top: 9px;
  }
  &::after {
    top: -9px;
  }
}

.toggler--active {
  background-color: transparent;
  transition: background-color 0.1s;
  &::before,
  &::after {
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg); //Если анимация не будет работать, возможно стоит продублировать одинаковые стили
  }
}

@media (min-width: 768px) {
  .navbar {
    display: block;
  }

  .navbar__list {
    display: flex;
  }

  .navbar__item {
    position: relative;
    margin-left: 2.5rem;
    padding: 0.5rem 0;
    &::before {
      content: "";
      position: absolute;
      //top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 2px solid $green-links;
      transition: 0.2s;
      transform: scaleX(0);
    }
  }

  .navbar__item:hover::before {
    cursor: pointer;
    transition: var(--hover-transition);
    transform: scale(1);
  }

  .navbar__item:hover .navbar__link {
    color: $green-links;
    transition: var(--hover-transition);
  }

  .navbar__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transition: var(--hover-transition);
  }

  .header__toggler {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar__link {
    font-size: 18px;
  }

  .navbar__item {
    margin-left: 4rem;
    padding: 0.8rem 0 0.5rem 0;
  }
}