.works {
  background-color: $light-grey;
  position: relative;
}

.main__works {
  margin-top: 30px;
}

.works__title {
  padding-top: 20px;
}

.works__thumbnail {
  margin: 30px auto 0;
}

.thumbnail {
  max-width: 328px;
}

.thumbnail__content {
  position: relative;
  margin-top: 20px;
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);
}

.thumbnail__image {
  margin: 0 auto;
}

.thumbnail__overlay {
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  background-color: transparent;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: $grey;
    opacity: .8;
    transition: var(--hover-transition);
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    bottom: 0;
    right: 0;
    transition: var(--hover-transition);
  }
}

.thumbnail__content:hover .thumbnail__overlay:before,
.thumbnail__content:hover .thumbnail__overlay:after {
  width: 100%;
  transition: all var(--hover-transition);
}

.thumbnail__nav {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  transition: .5s;
}

.thumbnail__content:hover .thumbnail__nav {
  visibility: visible;
  transition: all var(--hover-transition);
}

.project-link {
  display: block;
  font-weight: 700;
  padding: 15px 0;
  &:hover {
    color: $green-links;
  }
}

.thumbnail__project-link {
  color: $white;
  margin: 20px 0;

  visibility: hidden;
}

.github-link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(./components/works/github.svg);
    background-repeat: no-repeat;
  }
}

.thumbnail__github-link {
  &:before {
    left: 20%;
    top: 30%;
  }
}

.fromBottomToTop,
.fromTopToBottom {
  opacity: 0;
  transition: all .6s;
}

.fromTopToBottom {
  transform: translateY(-45px);
}

.fromBottomToTop {
  transform: translateY(45px);
}

.thumbnail__overlay:hover .thumbnail__project-link {
  transform: translateY(0);
  opacity: 1;
  transition: all .6s;
  visibility: visible;
}

.project {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.project__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 300px;
  max-height: 500px;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
  overflow: auto;
}

.project__close {
  display: inline-block;
  position: absolute;
  right: 2%;
  padding: 2%;
  font-weight: 700;
  font-size: 20px;
}

.project__title {
  margin-top: 30px;
}

.project__text {
  margin-top: 15px;
  padding: 0 10px;
}

.stack-info {
  font-style: italic;
  span {
    font-weight: 700;
    text-decoration: underline;
    font-style: normal;
  }
}

.project__navigation {
  position: relative;
}

.project__github-link {
  margin-left: 5%;
  &:before {
    left: 17%;
    top: 24%;
  }
}


@media(min-width: 400px) {
  .works__brushstrokes {
    height: 3%;
  }
}

@media (min-width: 576px) {
  .project__content {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .project__content {
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .works__title {
    padding-top: 0;
  }

  .works__content {
    display: flex;
    flex-wrap: wrap;
  }

  .works__thumbnail {
    padding: 0 .5rem;
  }

  .project__content {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .project__content {
    width: 25%;
  }
}