.works {
  background-color: $light-grey;
  position: relative;
}

.main__works {
  margin-top: 30px;
}

.works__title {
  padding-top: 20px;
}

.works__project {
  margin: 30px auto 0;
}

.project {
  max-width: 328px;
}

.project__content {
  position: relative;
  margin-top: 20px;
}

.project__image {
  margin: 0 auto;
}

.project__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background: $grey;
    opacity: .8;
    top: 0;
    left: 0;
    transition: all var(--hover-transition);
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background: $grey;
    opacity: .8;
    bottom: 0;
    right: 0;
    transition: all var(--hover-transition);
  }
}

.project__content:hover .project__overlay:before,
.project__content:hover .project__overlay:after {
  width: 100%;
  transition: all var(--hover-transition);
}

.project__content:hover .project__nav {
  opacity: 1;
  transition: all var(--hover-transition);
}

.project__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  transition: .5s;
  opacity: 0;
}

.fromTopToBottom {
  transform: translateY(-45px);
  opacity: 0;
  z-index: 7;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.fromBottomToTop {
  transform: translateY(45px);
  opacity: 0;
  z-index: 7;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.github-link {
  display: flex;
}

.project__link {
  padding: 25px 0;
  visibility: hidden;
  opacity: 0;
}

.project__overlay:hover .fromBottomToTop,
.project__overlay:hover .fromTopToBottom,
.project__overlay:hover .project__link {
  transform: translateY(0);
  opacity: 1;
  transition: all .6s;
  visibility: visible;
}

.work-description {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.work-description__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 300px;
  max-height: 500px;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px;
  overflow: auto;
}

.work-description__close {
  position: absolute;
  right: 2%;
  display: inline-block;
}

@media(min-width: 400px) {
  .works__brushstrokes {
    height: 3%;
  }
}

@media (min-width: 576px) {
  .work-description__content {
    width: 60%;
  }
}


@media (min-width: 768px) {
  .work-description__content {
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .works__content {
    display: flex;
    flex-wrap: wrap;
  }

  .works__project {
    padding: 0 .5rem;
  }

  .work-description__content {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .work-description__content {
    width: 25%;
  }
}

#git-object {
  width: 40px;
  height: 40px;
}

