.socials {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 35px;
  height: 35px;
  &__circle {
    fill: $icon-circle;
  }
  &__symbol {
    fill: $icon-symbol;
  }
}

.fb__symbol,
.fb__circle,
.twitter__symbol,
.twitter__circle,
.vk__symbol,
.vk__circle,
.tg__circle,
.tg__symbol,
.git {
  transition: var(--hover-transition);
}

.fb:hover .fb__circle {
  fill:#3B5998;
}

.fb:hover .fb__symbol{
  fill:#FFFFFF;
}

.twitter:hover .twitter__circle {
  fill:#55ACEE;
}

.twitter:hover .twitter__symbol{
  fill:#F1F2F2;
}

.vk:hover .vk__circle {
  fill: #5181B8;
}

.vk:hover .vk__symbol{
  fill: #FFFFFF;
}

//Telegram
.tg__symbol {
  fill: $icon-symbol;
}

.tg__circle {
  stop-color: $icon-circle;
}

.tg:hover .tg__circle--grad-blue-1 {
  stop-color: #37aee2;
}

.tg:hover .tg__circle--grad-blue-2{
  stop-color: #1e96c8;
}

.tg:hover .tg__symbol--white {
  fill: #fff;
}

//GitHub
.git {
  fill: $icon-symbol;
}

.git:hover  {
  fill: #fff;
}

@media (min-width: 768px) {
  .icon {
    padding: 0 15px;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .icon {
    padding: 0 15px;
    width: 45px;
    height: 45px;
  }
}


