@import "vars";

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.collapsed {
  display: none !important;
}

.button {
  background-color: $green;
  color: #fff;
  padding: 0.5rem;
  //border-radius: 7px;
  //border-radius: 10px;
  border: 2px solid $green;
  //clip-path: polygon(100% 0, 94% 100%, 0 100%, 0 0);
  &:hover {
    cursor: pointer;
    background-color: transparent;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

