@import "vars";

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.collapsed {
  display: none !important;
}

.title {
  text-align: center;
}

.button {
  background-color: $green;
  color: #fff;
  padding: 0.5rem;
  border: 2px solid $green;
  &:hover {
    cursor: pointer;
    background-color: transparent;
  }
}

.bg-brushstrokes {
  position: absolute;
  width: 102%;
  height: 6%;
  background-image: url(components/bg-brushstrokes-768x58.png);
  background-repeat: repeat-x;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

