@import "vars";

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.collapsed {
  display: none !important;
}

.title {
  text-align: center;
  color: $black;
}

.subtitle {
  color: $grey;
}

.button {
  display: inline-block;
  background-color: $green;
  color: #fff;
  padding: .5rem .5rem .7rem;
  border: 2px solid $green;
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $green;
  }
}

.brushstrokes {
  //position: absolute;
  ////height: auto;
  ////max-width: 100%;
  //width: 102%;
  //height: 8%;
  //background-image: url(components/bg-brushstrokes-768x58.png);
  //background-repeat: repeat-x;
}

.brushstrokes {
  //height: auto;
  //width: 100%;
  width: 100%;
  /* position: absolute; */

}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

